 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <!--Main content-->
    <section id="welcome-section" class="container text-center py-5">
        <h1>Hi! I'm Julián Parra, I'm a Full stack Jr. Software developer. </h1>
        <div class="my-cv">
            <button>
                <a href="https://drive.google.com/file/d/12GKduqGe7Y5MWcw63j-17MzzzGGLkJV4/view" download="Julian_Parra_CV.pdf" target="_blank">Download CV</a>
            </button>
        </div>
    </section>

    <section id="about-me" class="container py-5 text-center" >
      <h2>About me</h2>
        <p>
            Soy un desarrollador de software full stack Jr., con orientacion hacia el backend, pero con diversos proyectos frontend. 
        </p>
        <div id="my-skills" class="container my-5 text-center" >
          <h2>My my-skills</h2>
          <ul class="ul-skills">
            <div class="row row-cols-4">
              <div class="col">
                <li>C#</li>
              </div>
              <div class="col">
                <li>.Net</li>
              </div>
              <div class="col">
                <li>.Net Framework</li>
              </div>
              <div class="col">
                <li>SQL</li>
              </div>
              <div class="col">
                <li>JavaScript</li>
              </div>
              <div class="col">
                <li>Node.js</li>
              </div>
              <div class="col">
                <li>React</li>
              </div>
              <div class="col">
                <li>Scrum</li>
              </div>
              <div class="col">
                <li>Java</li>
              </div>

            </div>
          </ul>
        </div>

        <!--carrusel-->
        <div id="carrusel-tecnologias" class="carousel slide carousel-dark">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
              <img class="tecnologias-imagen" src="img/C-Sharp.png" class="d-block w-100" alt="...">
              <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/C-Sharp.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/C-Sharp.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-tecnologias" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carrusel-tecnologias" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!--imagenes grid-->

        <div class="container text-center">

          <div class="row row-cols-3 justify-content-center">
            <div class="col">
              <div class="card" >
                <img  src="img/C-Sharp.png" class="card-img-top" alt="">
                
              </div>
            </div>
            <div class="col">
              <div class="card" >
                <img src="img/docker.png" class="card-img-top" alt="">
                
              </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/Microsoft_.NET_logo.svg.png" class="card-img-top" alt="">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/nodeJS.png" class="card-img-top" alt="">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/react.png" class="card-img-top" alt="gffgd">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="gffgd">
                
                </div>
            </div>
                
      
          </div>
    </section>  

    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">These are some of my projects</h2>
      <div class="projects-grid">
       <a class="project"  target="_blank" href="https://codepen.io/freeCodeCamp/full/zNqgVx">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg" alt="project">
         <p class="project-tile"> Tribute Page</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/qRZeGZ">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/random-quote-machine.png" alt="project">
         <p class="project-tile">Random Quote Machine</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wgGVVX">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/calc.png" alt="project">
         <p class="project-tile">JavaScript Calculator</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/mVEJag">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/map.jpg" alt="project">
         <p class="project-tile">Map Data Across the Globe</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wGqEga">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/wiki.png" alt="project">
         <p class="project-tile">Wikipedia Viewer</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/KzXQgy">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tic-tac-toe.png" alt="project">
         <p class="project-tile">Tic Tac Toe Game</p>
       </a>

        
      </div>
    </section>
      

    <%- include('partials/footer.ejs') %>
</body>
</html>