 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <h1>hola</h1>

    <p>hola mi brother mi nombre es julian  </p>
    <!--Main content-->

    <section id="projects" class="p-3 container-projects" >

        <div id="projects-grid" class="row row-cols-3  g-4">
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="container text-center">
            <div class="row row-cols-2">
              <div class="col-6 col-xs6">
                  <img src="https://i.pinimg.com/564x/15/3f/d2/153fd2546a293ae8e555353e54220df2.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/564x/99/9b/cd/999bcdab157471028b2fa8fa3f91765b.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/564x/4f/cb/7b/4fcb7b141d93a81977429b1f0232e717.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/750x/52/d3/d5/52d3d58a33bb368262cf2ff68fb9faf3.jpg" alt="">
                  <p>column</p>
              </div>
            </div> -->
    </section>
      

    <%- include('partials/footer.ejs') %>
</body>
</html>