 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <h1>hola</h1>

    <p>hola mi brother mi nombre es julian  </p>
    <!--Main content-->
    <section id="welcome-section">
        <h2>Hi! I'm Julián Parra, I'm a Full stack Jr. Software developer. </h2>
        <div class="my-cv">
            <button>
                <a href="https://drive.google.com/file/d/12GKduqGe7Y5MWcw63j-17MzzzGGLkJV4/view" download="Julian_Parra_CV.pdf" target="_blank">Download CV</a>
            </button>
        </div>
    </section>

    <section id="about-me">
      <h2>About me</h2>
        <p>
            Soy un desarrollador de software full stack Jr., con orientacion hacia el backend, pero con diversos proyectos frontend. 
        </p>
        <div id="my-skills">
          <h2>My my-skills</h2>
          <ul>
            <li>C#</li>
            <li>.Net</li>
            <li>.Net Framework</li>
            <li>SQL</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>React</li>
            <li>Scrum</li>
            <li>Java</li>
          </ul>
        </div>
        <!--ACA VA LAS IMAGENES DE MIS TECNOLOGIAS.-->
        <div class="card-group">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </section>

    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">These are some of my projects</h2>
      <div class="projects-grid">
       <a class="project"  target="_blank" href="https://codepen.io/freeCodeCamp/full/zNqgVx">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg" alt="project">
         <p class="project-tile"> Tribute Page</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/qRZeGZ">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/random-quote-machine.png" alt="project">
         <p class="project-tile">Random Quote Machine</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wgGVVX">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/calc.png" alt="project">
         <p class="project-tile">JavaScript Calculator</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/mVEJag">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/map.jpg" alt="project">
         <p class="project-tile">Map Data Across the Globe</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wGqEga">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/wiki.png" alt="project">
         <p class="project-tile">Wikipedia Viewer</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/KzXQgy">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tic-tac-toe.png" alt="project">
         <p class="project-tile">Tic Tac Toe Game</p>
       </a>

        
      </div>
    </section>
      

    <%- include('partials/footer.ejs') %>
</body>
</html>