 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <h1>hola</h1>

    <p>hola mi brother mi nombre es julian  </p>
    <!--Main content-->

    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">These are some of my projects</h2>
      <div class="projects-grid">
       <a class="project"  target="_blank" href="https://codepen.io/freeCodeCamp/full/zNqgVx">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg" alt="project">
         <p class="project-tile"> Tribute Page</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/qRZeGZ">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/random-quote-machine.png" alt="project">
         <p class="project-tile">Random Quote Machine</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wgGVVX">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/calc.png" alt="project">
         <p class="project-tile">JavaScript Calculator</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/mVEJag">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/map.jpg" alt="project">
         <p class="project-tile">Map Data Across the Globe</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/wGqEga">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/wiki.png" alt="project">
         <p class="project-tile">Wikipedia Viewer</p>
       </a>
       <a class="project" target="_blank" href="https://codepen.io/freeCodeCamp/full/KzXQgy">
         <img class="project-image" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tic-tac-toe.png" alt="project">
         <p class="project-tile">Tic Tac Toe Game</p>
       </a>

        
      </div>
    </section>
        <!-- <div class="container text-center">
            <div class="row row-cols-2">
              <div class="col-6 col-xs6">
                  <img src="https://i.pinimg.com/564x/15/3f/d2/153fd2546a293ae8e555353e54220df2.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/564x/99/9b/cd/999bcdab157471028b2fa8fa3f91765b.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/564x/4f/cb/7b/4fcb7b141d93a81977429b1f0232e717.jpg" alt="">
                  <p>column</p>
              </div>
              <div class="col-6 col-xs">
                  <img src="https://i.pinimg.com/750x/52/d3/d5/52d3d58a33bb368262cf2ff68fb9faf3.jpg" alt="">
                  <p>column</p>
              </div>
            </div> -->
    </section>
      

    <%- include('partials/footer.ejs') %>
</body>
</html>