 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%=title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <!--Main content-->
    <section  class="welcome-section  d-flex flex-column justify-content-center align-items-stretch text-center">
        <div class="hero  d-flex flex-column justify-content-center align-items-center">
          <h1>Hello world </h1>
          <h2>I'm Julián Parra, I'm a Full stack Software developer.</h2>
        </div>
        <div class="my-cv">
            <button>
                <a href="https://drive.google.com/file/d/12GKduqGe7Y5MWcw63j-17MzzzGGLkJV4/view" download="Julian_Parra_CV.pdf" target="_blank">Download CV</a>
            </button>
        </div>
    </section>

    <section id="about-me" class=" about-me " >
      <div class="contenedor">
        <h2 class="seccion-titulo">About me</h2>
        <p class="seccion-texto">
            Soy un desarrollador de software full stack Jr., con orientacion hacia el backend, pero con diversos proyectos frontend. 
        </p>
      </div>
    </section>
    <!-- <p>C#  
      JavaScript
      .Net 
      .Net Framework 
      Java
      SQL
      SQL Server
      MongoDB
      Git</p> -->
    <section class="my-skills d-flex text-align-center justify-content-center text-center">
      <div class=" container-fluid d-flex flex-column justify-content-center align-items-center">
        <h2 class="p-3">My skills</h2>
      </div>

      <div class="container overflow-hidden text-center">
        <div class="row gy-1">
          <div class="col-6">
            <div class="p-3"><h3>C#</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net framework</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>JavaScript</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net FRAMEWORK</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net FRAMEWORK</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net FRAMEWORK</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net FRAMEWORK</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3"><h3>.Net FRAMEWORK</h3></div>
          </div>
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
        </div>
      </div>

        <!--carrusel-->
        <div id="carrusel-tecnologias" class="carousel slide carousel-dark">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
              <img class="tecnologias-imagen" src="img/C-Sharp.png" class="d-block w-100" alt="...">
              <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/docker.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/nodeJS.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/react.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/react.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <img class="tecnologias-imagen" src="img/C-Sharp.png" class="d-block w-100" alt="...">
                <p>mi tecnologia</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-tecnologias" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carrusel-tecnologias" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!--LISTADO DE SKILLS-->
        
        <!--imagenes grid-->
  
        <div class="container text-center">
  
          <div class="row row-cols-3 justify-content-center">
            <div class="col">
              <div class="card" >
                <img  src="img/C-Sharp.png" class="card-img-top" alt="">
                
              </div>
            </div>
            <div class="col">
              <div class="card" >
                <img src="img/docker.png" class="card-img-top" alt="">
                
              </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/Microsoft_.NET_logo.svg.png" class="card-img-top" alt="">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/nodeJS.png" class="card-img-top" alt="">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/react.png" class="card-img-top" alt="gffgd">
                
                </div>
            </div>
            <div class="col">
              <div class="card" >
                  <img src="img/Unofficial_JavaScript_logo_2.svg.png" class="card-img-top" alt="gffgd">
                
                </div>
            </div>
                
      
          </div>
    </section>



    <!-- Proyectos -->
    <section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
      <h2 class="seccion-titulo texto-negro">Mis proyectos</h2>
        <!-- Galeria de Proyectos -->
        <div class="container text-center proyectos-contenedor">
          <div class="row">
            <!-- Proyecto 1 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 1</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 2</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 3</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 4</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 5</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                <img src="img/react.png" alt="Proyecto 1">
                <div class="overlay">
                  <p>Proyecto 6</p>
                  <div class="iconos-contenedor">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-laptop"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
          <button type="button" class="btn btn-info">
            Ver más proyectos
            <i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </a>
      </section>
  
    </section>
      

    <%- include('partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>