<footer class="container  text-center d-flex flex-column justify-content-center">
    <h1>Let's work together</h1>
    <div>
        <ul d-flex >
            <li class="social-link" >
                <i class="bi bi-linkedin"></i>
            </li>
            <li class="social-link">
                <i class="bi bi-github"></i>
            </li>
            <li class="social-link">
                <i class="bi bi-envelope"></i>
            </li>
            <li class="social-link">
                <i class="bi bi-whatsapp"></i>
            </li>
        </ul>
    </div>

    <div class="container text-center">
        <p>
            © Julian Parra. All rigths reserved.
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</footer>